<md-content layout-fill>
	<md-tabs md-dynamic-height class="md-whiteframe-10dp" id="signing" layout-padding>
		<md-tab label="Login" flex>
			<form ng-submit="submit('login')">
				<md-content layout="column">
					<md-input-container>
						<label>Username</label>
						<input ng-model="user.name">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="user.password" type="password">
					</md-input-container>
				</md-content>
				<md-content>
					<md-button type="submit" class="md-primary">Login</md-button>
				</md-content>
			</form>
		</md-tab>
		<md-tab label="Register" flex>
			<form ng-submit="submit('register')">
				<md-content layout="column">
					<md-input-container>
						<label>Username</label>
						<input ng-model="user.name">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="user.password" type="password">
					</md-input-container>
				</md-content>
				<md-content>
					<md-button type="submit" class="md-primary">Register</md-button>
				</md-content>
			</form>
		</md-tab>
	</md-tabs>
</md-content>