<md-content layout="row" layout-fill>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="sideMenu.open">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3><span>Projects</span></h3>
			</div>
		</md-toolbar>

		<md-content layout-padding>
			<md-button ui-sref-active-eq="md-raised" ui-sref="layout.projects.create">
				Create
			</md-button>
			<md-button ui-sref-active-eq="md-raised" ui-sref="layout.projects">
				Index
			</md-button>
		</md-content>
	</md-sidenav>
	<md-content flex ui-view="projects" layout-padding layout-fill></md-content>
</md-content>